<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div ng-controller="Customerpage">
			<div ng-hide="state">
				<input type="text" placeholder="enter your location" ng-model="location">
				<button ng-click="selectbar()">search</button>
				<h1 ng-repeat="locat in chefLocation">
					<img src="{{locat.imgUrl}}" width="100" height="100" id="imgcustomer"><br>
					<span ng-click="chefinfo(locat.username)">{{locat.username}}</span><br> 
					{{locat.phoneNumber}}<br>
					{{locat.description}}<br>
					{{locat.rating}}
				</h1>	
			</div>
			<div ng-show="state">
				<h2>
					<img src="{{chefinformation[0].imgUrl}}" width="200" height="300"><br>
					{{chefinformation[0].username}}<br>
					{{chefinformation[0].phoneNumber}}<br>
					{{chefinformation[0].description}}<br>
					{{chefinformation[0].rating}}<br>
				</h2>
			<ol>
				<li ng-repeat = "meal in mealinformation">
					{{meal.name}} <br>
					<span id="mealDesc">{{meal.description}}</span>
				</li>
			</ol>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>