<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div ng-controller="Customerpage">
		  <div class="header" ng-hide="stateSearch"> 
					<h1><center>Search By Location</center></h1>
					<form class="cont">
					  <input type="text" class="srchFld" placeholder="Please Enter Your Location" ng-model="location"/>
						<button type="submit" class="srchBtn" ng-click="selectbar()">Search</button>
						<!-- <input type="text" class="srchFld" placeholder="Please Enter Your Location" ng-model="mealSearch"/>
						<button type="submit" class="srchBtn" ng-click="searchbymeal()">Search</button> -->
					  <div class="entypo-search ico"></div>
					</form>
		  </div>
		  <section class="content" ng-hide="stateList">
				<div class="contact" ng-repeat="locat in chefLocation">
				<div class="wrapr">
						<span class="imgWrpr"><img src="{{locat.imgUrl}}" width="100" height="100"/></span>
							<span class="contactInfo"> 
							  <div class="name"  ng-click="chefinfo(locat.username)">
							  <div>{{locat.username}}</div>
							  <div>{{locat.phoneNumber}}</div>
							  <div>{{locat.description}}</div>
							  <div>{{locat.rating}}</div>
							</span>
	 			</div>		  
				</div>
			</section>
			</div>

			<div ng-hide="stateInfo">
				<h2>
					<img src="{{chefinformation[0].imgUrl}}" width="200" height="300"><br>
					{{chefinformation[0].username}}<br>
					{{chefinformation[0].phoneNumber}}<br>
					{{chefinformation[0].description}}<br>
					{{chefinformation[0].rating}}<br>
				</h2>
			<ol>
				<li ng-repeat = "meal in mealinformation">
					{{meal.name}} <br>
					<span id="mealDesc">{{meal.description}}</span>
				</li>
			</ol>
			</div>
		</div>

		
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>