<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body id="indexbody">
		<div ng-controller="myCtr" class="index">
			<h1 id ="home-txt">Welcome to Etbo5li 👩‍🍳</h1>
			<button id="Customerbtn" ng-click="Customer()">Looking for A Chef</button>
			<button ng-click="clickme()" id="Chefbtn">Chef</button>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>