<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Page Title</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		
	</head>
	<body id="indexbody">
		<div ng-controller="myCtr" id="index">
			<button id="Customerbtn"  ng-click="Customer()">Customer</button>
			<button ng-click="clickme()" id="Chefbtn">Chef</button>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>