
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	</head>
	<body id="loginbody">
		<div ng-controller="signup" >
			<div ng-hide="state" id="login">
					username: <input type="text" placeholder="username" ng-model ="username1" class="logininput">
					password:<input type="password" placeholder="password" ng-model ="password1" class="logininput">
					<button ng-click ="login()" id="loginbtn">LogIn</button>
					<p ng-click="signup()" id="logintosignup">New to Etbo5li? signup</p>
			</div>
			<div ng-show="state" id="hiddenlogin">
					<img class="test" src="{{chefName.imgUrl}}" width="200" height="150">
					<span class="test">Chef Name:{{chefName.username}}</span><br>
					<span class="test"> Location:{{chefName.location}}</span><br>
					<span class="test"> Phone Num:{{chefName.phoneNumber}}</span><br>
					<span class="test"> Rating:{{chefName.rating}} / 10</span><br>
					<br>
					<input type="text" placeholder="Enter Your New Meal" ng-model ="newmeal">
					<input type="text" placeholder="description" ng-model ="desc" >
					<button ng-click="create()" id="createbtn">New Meal</button><br>
					<ul id="meallist">
						<li ng-repeat="meal in chefMeal">Meal Name:{{meal.name}}
						  => Description:{{meal.description}}</li>
					</ul>

			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>