
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body calss="login">
		<div ng-controller="signup">
			<!-- <div ng-hide="state"  class="container">
					<div class="welcome"><strong>Welcome,</strong> please login</div>
					Username: <input type="text" placeholder="Enter Username" ng-model ="username1" class="logininput"><br/>
					Password:<input type="password" placeholder="Enter Password" ng-model ="password1" class="logininput"><br/>
					<button ng-click ="login()" id="loginbtn">LogIn</button>
			</div> -->

			<div class="container">
					<div class="login-container-wrapper clearfix" ng-hide="state">
						<div class="welcome"><strong>Welcome,</strong> please login</div>
			
						<form class="form-horizontal login-form">
							<div class="form-group relative">
								<input id="login_username" class="form-control input-lg" type="text" placeholder="Username" required ng-model = "username1">
								<i class="fa fa-user"></i>
							</div>
							<div class="form-group relative">
								<input id="login_password" class="form-control input-lg" type="password" placeholder="Password" required ng-model = "password1">
								<i class="fa fa-lock"></i>
							</div>
						  <div class="form-group">
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()">Login</button>
						  </div>
						  <p ng-click="signup()" class="btn btn-success btn-lg btn-block">New to Etdbo5li? Signup</p>
					<div class="checkbox pull-left">
							<label><input type="checkbox"> Remember Me</label>
						  </div>
						</form>
					</div>
				</div>

			<div ng-show="state" id="hiddenlogin">
					<img class="test" src="{{chefName.imgUrl}}" width="200" height="150">
					<span class="test">{{chefName.username}}</span><br/>
					<span class="test">{{chefName.location}}</span><br/>
					<span class="test">{{chefName.phoneNumber}}</span><br/>
					<br/>
					<input type="text" placeholder="Enter Your New Meal" ng-model ="newmeal">
					<input type="text" placeholder="description" ng-model ="desc" >
					<button ng-click="create()" id="createbtn">New Meal</button><br>
					<ol id="meallist">
						<li ng-repeat="meal in chefMeal">{{meal.name}}, {{meal.description}}</li>
					</ol>

			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>