
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.1/css/mdb.min.css" rel="stylesheet">

	</head>
	<body>
		<div ng-controller="signup">
				<p class="logo-login"><img src="./etb5ly.png" alt=""></p>
			<div class="container" id ="margin">
					<div class="login-container-wrapper clearfix" ng-hide="state" id = "login-page">
						<div class="welcome"><strong>Welcome, please login</strong></div>
			
						<form class="form-horizontal login-form">
							<div class="form-group relative">
								<input id="login_username" class="form-control input-lg" type="text" placeholder="Username" required ng-model = "username1">
								<i class="fa fa-user"></i>
							</div>
							<div class="form-group relative">
								<input id="login_password" class="form-control input-lg" type="password" placeholder="Password" required ng-model = "password1">
								<i class="fa fa-lock"></i>
							</div>
						  <div class="form-group">
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()">Login</button>
						  </div>
						  <p ng-click="signup()" class="btn btn-success btn-lg btn-block">Signup</p>
					<div class="checkbox pull-left">
							<label><input type="checkbox"> Remember Me</label>
						  </div>
						</form>
					</div>
				</div>

			<div ng-show="state" id="hiddenlogin">
					<section id="about" class="section-padding">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
											<img class="img-fluid" src='{{"./images/"+chefName.username+".jpg"}}' alt="">
										</div>
									</div> 
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
											<h2><strong>Welcome!</strong></h2><strong>
											<p>{{chefinformation[0].description}}</p>
											<div class="about-profile">
												<ul class="admin-profile">
													<li><span class="pro-title"><b>Name:</b>  </span> <span class="pro-detail">{{chefName.username}}</span></li>
													
													
													<li><span class="pro-title"><b>Location:</b>  </span> <span class="pro-detail">{{chefName.location}}</span></li>
													
												
													<li><span class="pro-title"> <b>Phone:</b>  </span> <span class="pro-detail">{{chefName.phoneNumber}}</span></li>
													
												</ul>
											</div>
											<div class = "meal-input">
													<form>
													<h2>Post New Meal</h2>
															<input type="text" placeholder="Meal Name" ng-model ="newmeal" required/><br><br/>
															<textarea type="text"  placeholder="Meal Description" ng-model ="desc"></textarea><br><br/>	
															<div   ng-controller="Fup1" class="form-group relative">
																	<input type="file"  id="file1"  accept=".jpg" name="file" multiple ng-files="getTheFiles1($files)" class="form-control input-lg" placeholder=""  class="signuptext">
																<input type="button" class="btn btn-danger" ng-click="uploadFiles1()" value="Upload"/>
															</div>
															<button class="btn btn-danger" ng-click="create()" id="createbtn">Post Meal</button><br>
															<ol>
													</form>
													</div>	
										</div>
									</div>   
								</div>
							</div>
							</section>						
			<section id="services" class="services section-padding">
					<h2 class="section-title wow flipInX" data-wow-delay="0.4s">Posts</h2>
					<div class="container">
						<div class="row">
							<!-- Services item -->
							<div ng-repeat = "meal in chefMeal" class="col-md-6 col-lg-3 col-xs-12 meal-item">
								<div class="services-item wow fadeInDown" data-wow-delay="0.3s">
									<div class="icon">
										<img class="meal" src='{{"./mealimages/"+chefName.username+"-"+meal.name+".jpg"}}' alt="">
									</div>
									<div class="services-content">
										<h3><a href="#">{{meal.name}}</a></h3>
										<p>{{meal.description}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>