
<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Etbo5li</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div ng-controller="Regester">
		<div class="container">
				<div class="login-container-wrapper clearfix" ng-hide="state">
					<div class="welcome"><strong>Welcome, please signup</strong></div>
		
					<form class="form-horizontal login-form">
						<div class="form-group relative">
								<input type="text" class="form-control input-lg" placeholder="UserName" ng-model ="username" class="signuptext">
							<i class="fa fa-user"></i>
						</div>
						<div class="form-group relative">
								<input type="password" class="form-control input-lg" placeholder="Password" ng-model ="password" class="signuptext">
							<i class="fa fa-lock"></i>
						</div>
						<div class="form-group relative">
								<input type="text" class="form-control input-lg" placeholder="Location" ng-model ="location" class="signuptext">
							<i class="fa fa-lock"></i>
						</div>
						<div class="form-group relative">
								<input type="number" class="form-control input-lg" placeholder="Phone Number" ng-model ="phoneNumber" class="signuptext">
							<i class="fa fa-lock"></i>
						</div>
						<div class="form-group relative">
								<input type="text" class="form-control input-lg" placeholder="Profession" ng-model ="description" class="signuptext">
							<i class="fa fa-lock"></i>
						</div>
						<div   ng-controller="Fup" class="form-group relative">
								<input type="file"  id="file1"  accept=".jpg" name="file" multiple ng-files="getTheFiles($files)" class="form-control input-lg" placeholder="Image URL"  class="signuptext">
							<i class="fa fa-lock"></i>
							<input type="button" class="btn btn-success btn-lg btn-block" ng-click="uploadFiles()" value="Upload"/>
						</div>
					  <div class="form-group">
						<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="Regester()">Create Account</button>
					  </div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>