@import url(https://fonts.googleapis.com/css?family=Varela);

#indexbody{
	display: flex;
  height: 100vh;
  min-height: 35rem;
  align-items: center;
  justify-content: center;
  background-image: url("http://foodfoolishbook.naturalleader.com/wp-content/themes/FoodFoolish%202015/images/bg.jpg");
  background-repeat: no-repeat;
	background-size: cover;
}

/* home page styling */
.index{
   font-weight: bold;
  font-size: 1.8rem; 
   position: relative;
  margin: 0 auto;
  @media (--pc) {
    max-width: 450px;
  z-index: 3;
  position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
	transform: translate(-50%,-50%);
	background-color: white;
}
}

#home-txt{
	position: relative;
	text-align: center;
	margin-bottom: 1em;
	font-size: 50px;
}

#Customerbtn{
	text-align: center;
	display: block;
	color: white;
	background-color:rgba(238, 57, 81, 0.25);
	width: 20em;
	border-radius: 20px;
	 cursor: pointer;
	 border: 2px solid transparent;
	 padding-top: 1rem;
	 padding-bottom: 1rem;
}
#Chefbtn{
	text-align: center;
	margin-top: 1em;
	display: block;
	width: 20em;
	background-color:rgba(17, 50, 243, 0.25);
	padding: 10px;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	border: 2px solid transparent;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* //////////////////// */
  
/* Login page styling */

.relative{
    position: relative;
}

.welcome{
	padding-top: -30px;
	font-size: 20px;
}

.login-container-wrapper .logo,
.login-container-wrapper .welcome{
    margin: 0 0 20px 0;
    font-size: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px #000;
}

.login-container-wrapper{
    max-width: 400px;
    margin: 15% auto;
    padding: 40px;
  border-radius:50px 0;
    box-sizing: border-box;
    background: rgba(241, 174, 98, 0.877);
    box-shadow: 1px 1px 4px 0px #000000, 8px 8px 0px 0px #f38b36, 9px 9px 4px 0px #000000, 16px 16px 0px 0px rgb(255, 115, 0), 17px 17px 7px 1px #000000;
    position: relative;
    padding-top: 80px;
}

.login-form .form-group{
    margin-right: 0;
    margin-left: 0;
}
.login input:focus + .fa{
  color:#1d5256;
}
.login-form i{
    position: absolute;
    top:18px;
    right: 20px;
    color: #a2703f;
}
.login-form .input-lg{
    font-size: 16px;
    height: 52px;
    padding: 10px 25px;
    border-radius: 0;
}
.login input[type="text"],
.login input[type="password"],
.login input:focus{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #a2703f;
    color: #eee;
    border-left: 4px solid rgba(150, 103, 58, 0.99);
}
.login input:focus{
    border-left: 4px solid #ccd8da;
}
input:focus i{
    color: #fff !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(19, 120, 243, 0.75)!important;
    background-image: none;
    color: rgb(0, 0, 0);
    border-color: #FAFFBD;
}
.login .checkbox label,
.login .checkbox a{
    color: #ddd;
}
.btn-success{
    background-color: transparent;
    padding: 8px 50px;
    border-radius: 0;
    border: 2px solid #93a5ab;
    box-shadow: inset 0 0 0 0 #7692A7;
    transition: all ease 0.8s;
}
.btn-success:focus, .btn-success:hover, .btn-success.active, .btn-success:active,.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
        background-color: transparent;
        border-color: #fff;
        box-shadow: inset 0 0 100px 0 #7692A7;
        color: #FFF;
}

/* /////////// */

/* Customer page styling */




/* ////////// */

.form-inline{
    margin-top:4%;
    margin-left:40%; 
}

.h1{
   
    padding-top: 1%;
    margin-left: 25%;
}






.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("./etb5ly.png");
    background-size: contain;
    height: 100px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/* .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  } */

.meal-search{
    margin-left: 30%;
}

#danger{
    margin-top: -3%;
}

#danger2{
    margin-top: -6%;
}

.meal{
    width: 100%;
    height: 100%;
}










